<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">HOME</a></li>
								<li><a href="{{ site.baseurl }}/blog/index.html">BLOG</a></li>
								<li><a href="{{ site.baseurl }}/about.html">ABOUT</a></li>
								<li><a href="{{ site.baseurl }}/contact.html">GET IN TOUCH</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section style="position: relative;overflow-y: hidden;margin: 2em 0 0 0;height: 32em;overflow-x: hidden;">
							<div id="banner" class="kenburns-top"></div>
							<div id="bgBlack" class="color-change-2x">
							</div>
							<img id="imgLogo" src="{{ site.baseurl }}/assets/images/logo.png" alt="" />
							
						</section>

				</div>
			</div>