<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">HOME</a></li>
								<li><a href="{{ site.baseurl }}/blog/index.html">BLOG</a></li>
								<li><a href="{{ site.baseurl }}/about.html">ABOUT US</a></li>
								<li><a href="{{ site.baseurl }}/contact.html">GET IN TOUCH</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<div id="bgBlack">
							</div>
							<img id="imgLogo" class="scale-up-center" src="{{ site.baseurl }}/assets/images/logoBlue.png" alt="" />
							
						</section>

				</div>
			</div>